body{
    background-image: url("https://c1.wallpaperflare.com/preview/492/727/830/thermometer-temperature-measurement-health.jpg");
    background-size: cover;
}


h1{
    color: red;
}


#botao{
    border-radius: 15px;
    height: 25px;
}


#tempValor{
    border-radius: 15px;
    height: 25px;
}


#resultado{
    size: 30px;
}
